<a href="https://colab.research.google.com/github/Salome-06/PROGCOM-A/blob/main/Clase_2_Estructura_de_repeticion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estructura de repeticion
Permite repetir una o mas acciones de acuerdo con una condicion (mientras se cumpla la condicion).

##Estructura para - for

1. Cuando se sabe cuantas veces se repite una accion.
2. Esta conformado por una condicion inicial (CI) una condicion final (CF) y pasos (fecuencia de repeticion).
3. Esta estructura no se detendra, hasta alcanzar CF-1

Estructura general del for


```
for (variable) in range (CI, CF+1,paso):
  Se repite (CF+1-CI)/paso veces una accion
```

Estructura resumida del for



```
for (variable) in range (cantidad):
  Se repite cantidad de veces una accion
```
Estrucutra for como iteracion
1. El para (for) itera tantas veces, como elementos tenga la lista.
2. La variable toma el valor de cada elemento de la lista por iteracion


```
Lista=[1,2,3,4,5]
for (variable) in Lista:
  Se repite len(Lista)
```

In [ ]:
 n= int(input("Digita un numero:"))
 print(f"Tabla del {n}")

Digita un numero:10

In [ ]:
 print(f"Tabla del {n}")
 for holitas in range(1,11,1):
   print(f"{n} x {holitas} = {n*holitas}")

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
n= int(input("Digita un numero:"))
print(f"Tabla del {n}")

Digita un numero:9
Tabla del 9

In [ ]:
print(f"Tabla del {n}")
for holitas in range(1,11,1):
   print(f"{n} x {holitas} = {n*holitas}")

Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
n= int(input("Digita un numero:"))
print(f"Tabla del {n}")

Digita un numero:8
Tabla del 8

In [ ]:
print(f"Tabla del {n}")
for holitas in range(1,11,1):
   print(f"{n} x {holitas} = {n*holitas}")

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
print("Tablas de multiplicar")
for perritos in range (1,11,1):
 print(f"")
 print(f"Tabla del {perritos}")
 for gatitos in range (1,11,1):
   print(f"{perritos} x {gatitos} = {perritos*gatitos}")

Tablas de multiplicar

Tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
print(f"Tabla del {n}")
for holitas in range(10):
  print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
print(f"Tabla de multiplicar {n}")
for holitas in range(1,11*n,n):
  print(f"{n} x {int(holitas/n)} = {n*int(holitas/n)}")

Tabla de multiplicar 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in numeros2:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

9/Agosto
##Listas
1. Es un tipo de datos
2. Forma canónica para declarar una lista
3. Todos los elementos de una lista DEBEN separarse por comas.



```
(variable)=[]
Ejemplo:
flores=["amapola", "tulipan", "lengua de suegra",dahlia, rosa]```

In [ ]:
dahlia= 3 #Variable de tipo númerica. int
rosa="cinco" #Variable de tipo alfanúmerico, str
flores=["amapola", "tulipan", "lengua de suegra",dahlia, rosa]
flores

4. Manual.



```
Lista2=[dato1, dato2, dato3... datoN]
```


5. Siempre son finitas
6. Son indexadas


```
Lista2=[dato1, dato2, dato3... datoN] ```

dato1 está en el index 0
dato2 está ubicadp en el index 1
7. Estructuras para la creación de listas

In [ ]:
#Ejemplo: crear una lista de 5 elementos
lista=[]#Para que el programa sepa que es una lista
for sonrisas in range (5):

In [6]:
lista=[]
for sonrisas in range (5):
 flores=input("ingresa el nombre de una flor: ")
 lista.append(flores)

ingresa el nombre de una flor: clavel
ingresa el nombre de una flor: tulipna
ingresa el nombre de una flor: girasol
ingresa el nombre de una flor: orquidea
ingresa el nombre de una flor: rosa

In [7]:
lista

['clavel', 'tulipna', 'girasol', 'orquidea', 'rosa']

In [ ]:
#Saber quien esta en la posicion
flores=[0]
flores

##10 EJERCICIOS PARTE 2

1. Escribe un programa que imprima los números del 1 al 10.

for (variable) in range (cantidad):
  Se repite cantidad de veces una accion

  for (variable) in range (cantidad):
  Se repite cantidad de veces una accio

  Lista=[1,2,3,4,5]
for (variable) in Lista:
  Se repite len(Lista)

In [14]:
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

In [13]:
numeros=[]
for i in range (10):
 numeros.append(i+1)
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Escribe un programa que sume los números del 1 al 100.

In [26]:
suma=0
i=[1-100]
for i in range (101):
  suma= i+suma
print(suma)

5050

In [28]:
suma_numeros = []
suma=0
for i in range (101):
  suma = i+suma
  suma_numeros.append(suma)
print(suma_numeros)

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275, 1326, 1378, 1431, 1485, 1540, 1596, 1653, 1711, 1770, 1830, 1891, 1953, 2016, 2080, 2145, 2211, 2278, 2346, 2415, 2485, 2556, 2628, 2701, 2775, 2850, 2926, 3003, 3081, 3160, 3240, 3321, 3403, 3486, 3570, 3655, 3741, 3828, 3916, 4005, 4095, 4186, 4278, 4371, 4465, 4560, 4656, 4753, 4851, 4950, 5050]

3. Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.

In [31]:
for i in range(3,31,3):
 print(i)

3
6
9
12
15
18
21
24
27
30

In [35]:
multiplos_de_3=[]
for i in range(3,31,3):
 multiplos_de_3.append(i)
print(multiplos_de_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

4. Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10.

In [37]:
 s=int(input("Ingrese el numero a multiplicar:"))
 print(f"Tabla del {i}")
 for i in range(1,11,1):
   print(f"{s} x {i} = {s*i}")

Ingrese el numero a multiplicar:2
Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [42]:
tabla_elegida=[]
s=int(input("Ingrese el numero a multiplicar:"))
print("")
print(f"Tabla del {s}")
for i in range(1,11,1):
  multiplicar=s*i
  tabla_elegida.append(multiplicar)
print(tabla_elegida)

Ingrese el numero a multiplicar:49

Tabla del 49
[49, 98, 147, 196, 245, 294, 343, 392, 441, 490]

5. Escribe un programa que pida 5 números al usuario y calcule el promedio.

In [45]:
for i in range(5):
   numeros=int(input("Ingresa un numero: "))
suma=numeros+numeros
promedio=(suma)/5
print(promedio)

Ingresa un numero: 2
Ingresa un numero: 3
Ingresa un numero: 4
Ingresa un numero: 5
Ingresa un numero: 7
2.8