<a href="https://colab.research.google.com/github/Salome-06/PROGCOM-A/blob/main/Ejercicios_de_listas_Salom%C3%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Taller de 10 ejercicios sobre listas

1. Crear una lista con los cuadrados de los números del 1 al 10.

In [1]:
cuadrados=[n**2 for n in range(1,11)]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Obtener una lista con los números pares del 0 al 20.

In [2]:
pares=[num for num in range(21) if num%2==0]
print(pares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

3. Crear una lista con el doble de cada número del 1 al 5.

In [3]:
dobles=[num * 2 for num in range(1,6)]
print(dobles)

[2, 4, 6, 8, 10]

4. De la palabra "programacion", obtener solo las vocales.

In [7]:
palabra="programacion"
vocales=[letra for letra in palabra if letra.lower() in "aeiou"] #recordar que letra.lower sirve para volver la letra minúscula y analizar si es vocal así este mayúscula
print(vocales)

['o', 'a', 'a', 'i', 'o']

5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.

In [8]:
programas=["python, java, c++"]
programas_mayuscula=[palabra.upper() for palabra in programas]
print(programas_mayuscula)

['PYTHON, JAVA, C++']

6. Crear una lista con "par" o "impar" para los números del 1 al 10.

In [12]:
numeros=[]
for i in range(10):
  resultado=int(input("Ingrese el numero: "))
  numeros.append(resultado)
lista1=["par" if num%2==0 else "impar" for num in numeros]
print(lista1)

Ingrese el numero: 1
Ingrese el numero: 2
Ingrese el numero: 3
Ingrese el numero: 4
Ingrese el numero: 5
Ingrese el numero: 6
Ingrese el numero: 7
Ingrese el numero: 8
Ingrese el numero: 9
Ingrese el numero: 10
['impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par']

7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5.

In [13]:
cuadrados_tuplas=[(num, num**2) for num in range(1,6)]
print(cuadrados_tuplas)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].

In [14]:
letras=["a", "b"]
numeros=[1, 2, 3]
combinaciones=[(letra, numero) for letra in letras for numero in numeros]
print(combinaciones)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras

In [15]:
palabras=["sol", "estrella", "mar", "planeta"]
palabras_largas=[p for p in palabras if len(p) > 4]
print(palabras_largas)

['estrella', 'planeta']

10. Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"

In [16]:
temperaturas=[]
for i in range(10):
  celsius=int(input("Ingrese la temperatura: "))
  temperaturas.append(celsius)
lista2=[(n, "templado") if n>19 and n<=25 else (n, "frio") if n<19 else (n, "caliente") for n in temperaturas]
lista2

Ingrese la temperatura: 1
Ingrese la temperatura: 2
Ingrese la temperatura: 3
Ingrese la temperatura: 4
Ingrese la temperatura: 5
Ingrese la temperatura: 6
Ingrese la temperatura: 7
Ingrese la temperatura: 15
Ingrese la temperatura: 25
Ingrese la temperatura: 27

[(1, 'frio'),
 (2, 'frio'),
 (3, 'frio'),
 (4, 'frio'),
 (5, 'frio'),
 (6, 'frio'),
 (7, 'frio'),
 (15, 'frio'),
 (25, 'templado'),
 (27, 'caliente')]